.add-customer {
    background-color: #624DE3;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 2px 6px;
    font-weight: 700;
    font-size: 12px;
}


.fa-plus {
    margin-right: 6px;
}