* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
    width: 100%;
    height: 60px;

    .logo {

        img {
            z-index: 4;
            height: 34px;
        }

    }

    .lists {

        a {
            color: #fff;
            text-decoration: none;
            line-height: 50px;
            font-size: 22px;
            margin-right: 20px;
        }
    }


    .icon {
        color: #fff;
        font-size: 24px;
        display: none;
    }

}


.sidebar {
    position: fixed;
    top: 0;
    left: -700px;
    background-color: #333;
    width: 250px;
    height: 100%;
    transition: left 0.3s ease;
    z-index: -1;

}

@media screen and (max-width: 650px) {

    header {

        .lists {

            a {
                display: none;
            }
        }

        .icon {
            display: block;
        }
    }




    .sidebar {
        position: fixed;
        top: 60px;
        left: -250px;
        width: 250px;
        display: block;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        background-color: #333;
        transition: left 0.3s ease;
        z-index: -1;

        a {
            color: #fff;
            font-size: 22px;
            margin-bottom: 12px;
            text-decoration: none;
        }
    }
}