.search {
    border: 1px solid rgb(174, 169, 169);
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 1px 1px;
}

.fa-magnifying-glass {
    margin-left: 4px;
    color: rgb(174, 169, 169);
}

.search-box {
    padding: 8px 16px;
    outline: none;
    border: none;
}